<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TRealTimeDataServiceSettings" type="CMDataCollector.Utilities.ConfigSection, CMDataCollector"/>
    <!--<section name="BCMSServiceSettings" type="BcmsSIPManager.Utilities.BcmsSIPConfigSection, BcmsSIPManager" />-->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TRealTimeDataSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TRealTimeDataSync.Properties.Settings>
      <setting name="TRealTimeDataSync_HB_TRealtimeData_CMDataService" serializeAs="String">
        <value>http://10.133.146.11:55555/TRealtimeData/</value>
      </setting>
    </TRealTimeDataSync.Properties.Settings>
    <!--<AMACWeb_Proxy.Properties.Settings>
      <setting name="AMACWeb_Proxy_AMACServer_CommandManager" serializeAs="String">
        <value>http://202.150.214.54:55000/AMACServer/</value>
       <value>http://10.133.146.4:55000/AMACServer10/</value>
      </setting>
    </AMACWeb_Proxy.Properties.Settings>-->
  </applicationSettings>
  <appSettings>
    
    <!--                COMMON CONFIG KEYS             -->
    
    <!-- db config-->
    <add key="CMDbConn" value="Data Source=10.133.146.11\SQLEXPRESS,14330;Initial Catalog=SG_CFS_OCM;User ID=sa;Password=62GPdQTJBe8epwADMd6rNKfvxakq+jt0mSodcGtoSSikVLukytxZxUQgaUcK5n+Pn2VN5E5wAjfYNBO9ROoCng==;"/>
    
    <!-- Log4net Configuration -->
    <add key="Log4NetConfigFile" value="D:\Projects\Tetherfi\TData\TRealtimeData\TRealtimeData\TRealtimeData\Log4Net.config"/>

    <!-- Type : CM or SIP -->
    <add key="Type" value="CM"/>

    <!--value= 1 => HA is enabled, value=0=> HA is disabled-->
    <add key="HAEnabled" value="0"/>

    <!--Timewait to read data from CM/SIP in milliseconds-->
    <add key="DashboardRefreshTime" value="10000"/>

    <!--Timewait to read data from historical service-->
    <add key="HistoricalReportRefreshTime" value="10000"/>

    <!--                CM CONFIG KEYS             -->
    
    <!--CM ip address-->
    <add key="serverAddress" value="10.133.146.203"/>

    <!--CM username-->
    <add key="userName" value="smsapi"/>

    <!--CM password-->
    <add key="password" value="smsapi01"/>

    <!--port to establish ssh connection to CM-->
    <add key="port" value="22"/>

    <!--total number of skills to be monitored-->
    <add key="skillsToMonitor" value=""/>

    <!--total number of skills to be monitored in each connection to cm-->
    <add key="skillsPerConnection" value="5"/>

    <!--max tries made if connection to CM fails-->
    <add key="MaxTriesOnConnectionFailure" value="5"/>

    <!--Things to be monitored...
        skill : if bcms skills to be monitored.
        vdn : if bcms vdn to be monitored // not implemented
        split : if bcms split to be monitored // not implemented
        hunt : if hunt traffic to be monitored. 
        trunk : if trunk traffic to be monitored.
    -->
    <add key="CommandsToRun" value="hunt"/>

    <!--No Action,Stop,Kill-->
    <add key="ActionOnCMConFailure" value="stop"/>

    <!--bcms,traffic-->
    <add key="CommandType" value="traffic"/>

    <!--bcms,traffic-->
    <add key="HuntRange" value="1-50;80-100"/>
    
    <!--bcms,traffic-->
    <add key="HuntFrequency" value="1"/>



    <!--                SIP CONFIG KEYS             -->
    
    <add key="skillsToMonitorForSIP" value="20,14"/>
    
    <add key="acceptableSL" value="20"/>
    
    <!-- in minutes-->
    <add key="DBRefreshTime" value="5"/>    
  
  
    <!--Tconfig settings-->
    <add key="aesUserName" value=""/>
	
    <add key="aesPassword" value=""/>
	
    <!--KMS config settings-->
    <add key="KmsEnabled" value=""/>
	
    <add key="KmsUrl" value=""/>
	
    <add key="KmsCert" value=""/>
  </appSettings>

  <TRealTimeDataServiceSettings>
    <BCMSSkill>
      <add ChannelName="Voice" SkillId=""/>
      <add ChannelName="Email" SkillId=""/>
      <add ChannelName="Chat" SkillId="20,14"/>
    </BCMSSkill>
  </TRealTimeDataServiceSettings>

  <system.web>
    <compilation debug="true"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" allowCookies="true" maxReceivedMessageSize="1073741824" maxBufferSize="1073741824" maxBufferPoolSize="1073741824" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxArrayLength="1073741824" maxStringContentLength="1073741824"/>
        </binding>
        <binding name="BasicHttpBinding_IHistoricalData"/>
        <binding name="BasicHttpBinding_IService" allowCookies="true" maxReceivedMessageSize="1073741824" maxBufferSize="1073741824" maxBufferPoolSize="1073741824" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxArrayLength="1073741824" maxStringContentLength="1073741824"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sit.tetherfi.com:15000/AMACServer/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="commandManagerWCF.IService" name="DefaultTMACServer"/>

      <endpoint address="http://localhost:55000/THistoricalData/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHistoricalData" contract="THistoricalData.IHistoricalData" name="BasicHttpBinding_IHistoricalData"/>
      
      <endpoint address="http://10.133.146.11:55001/WorkQueue1/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="WorkQueue.IService" name="BasicHttpBinding_IService"/>
      <endpoint address="http://localhost:55000/CM_SMS_API/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="SMSAPI.IService" name="BasicHttpBinding_IService1"/>
    </client>
    <services>
      <service name="CMDataCollector.CMDataService">
        <endpoint address="" binding="basicHttpBinding" contract="CMDataCollector.IRealtimeDataService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/TRealtimeData/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
