<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TRealTimeDataServiceSettings" type="CMDataCollector.Utilities.ConfigSection, CMDataCollector" />
  </configSections>
  <appSettings>
    <!-- Log4net Configuration -->
    <add key="Log4NetConfigFile" value="tmc.conf.Log4NetConfigFile"/>
	
    <!-- db config-->
    <add key="CMDbConn" value="tmc.conf.CMDbConn"/>

    <!-- Type : CM or SIP -->
    <add key="Type" value="tmc.conf.connectionType"/>

    <!--CM ip address-->
    <add key="serverAddress"  value="tmc.conf.cmServerAddress"/>

    <!--CM username-->
    <add key="userName" value="tmc.conf.cmUserName"/>

    <!--CM password-->
    <add key="password" value="tmc.conf.cmPassword"/>

    <!--port to establish ssh connection to CM-->
    <add key="port" value="tmc.conf.cmPort"/>

    <!--total number of skills to be monitored-->
    <add key="skillsToMonitor" value="tmc.conf.skillsToMonitor"/>

    <!--Things to be monitored...
        bcms : if bcms skills to be monitored.
        trunk : if trunk traffic to be monitored.
        system : if system data to be monitored.
    -->
    <add key="CommandsToRun" value="tmc.conf.cmCommandsToRun"/>
	
    <!--max tries made if connection to CM fails-->
    <add key="MaxTriesOnConnectionFailure" value="tmc.conf.maxTriesOnConnectionFailure"/>
	
    <!--No Action,Stop,Kill-->
    <add key="ActionOnCMConFailure" value="tmc.conf.ActionOnCMConFailure"/>

    <!--total number of skills to be monitored in each connection to cm-->
    <add key="skillsPerConnection" value="tmc.conf.skillsPerConnection"/>

    <!--SkillToMonitor For SIP-->
    <add key="skillsToMonitorForSIP" value="tmc.conf.skillsToMonitorForSIP"/>

    <!--Timewait to read data from CM/SIP in milliseconds-->
    <add key="DashboardRefreshTime" value="tmc.conf.DashboardRefreshTime"/>
	
    <!--Timewait to read data from historical service-->
    <add key="HistoricalReportRefreshTime" value="tmc.conf.HistoricalReportRefreshTime"/>
	
    <add key="acceptableSL" value="tmc.conf.acceptableSL"/>

    <!--value= 1 => HA is enabled, value=0=> HA is disabled-->
    <add key="HAEnabled" value="tmc.conf.HAEnabled"/>

    <!--Tconfig settings-->
    <add key="aesUserName" value="tmc.conf.aesUserName"/>
	
    <add key="aesPassword" value="tmc.conf.aesPassword"/>
	
    <!--KMS config settings-->
    <add key="KmsEnabled" value="tmc.conf.KmsEnabled"/>
	
    <add key="KmsUrl" value="tmc.conf.KmsUrl"/>
	
    <add key="KmsCert" value="tmc.conf.KmsCert"/>
    

  </appSettings>
  <TRealTimeDataServiceSettings>
    <BCMSSkill>
      <add ChannelName="Voice" SkillId="tmc.conf.voiceskillid"/>
      <add ChannelName="Email" SkillId="tmc.conf.emailskillid"/>
      <add ChannelName="Chat"  SkillId="tmc.conf.chatskillid"/>
    </BCMSSkill>
  </TRealTimeDataServiceSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IService" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferPoolSize="20000000" maxBufferSize="20000000">
          <readerQuotas maxDepth="32"
                 maxArrayLength="200000000"
                 maxStringContentLength="200000000"/>
        </binding>
        <binding name="BasicHttpBinding_IHistoricalData" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.133.146.11:55000/AMACServer2/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="commandManagerWCF.IService"
        name="DefaultTMACServer" />
      <endpoint address="http://10.133.146.11:55001/WorkQueue1/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService" contract="TMACWorkQ.IService"
        name="BasicHttpBinding_IService" />
      <endpoint address="http://localhost:55000/THistoricalData/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IHistoricalData" contract="THistoricalData.IHistoricalData"
        name="BasicHttpBinding_IHistoricalData" />  
    </client>
    <services>
      <service name="CMDataCollector.CMDataService">
        <endpoint address="na" binding="basicHttpBinding" contract="CMDataCollector.IRealtimeDataService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/TRealtimeData/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>