{
"appconfigtemplate": "D:\\Host\\TRealtimeData\\template.config",
"confLoadMode": "none",
"confLoadDataFile": "D:\\Host\\TRealtimeData\\template.json",
"tmcUrl": http://demo.tetherfi.com:55000/ManagementConsoleService/,
"modulename":"TRealtimeData",
"instanceid":"1",
"resturl": http://demo.tetherfi.com:55000/ManagementConsoleService/,
"deletelastconf": false,
}

{
"appconfigtemplate": "D:\\Host\\TRealtimeData\\template.config",
"confLoadMode": "none",
"confLoadDataFile": "D:\\Host\\TRealtimeData\\template.json",
"tmcUrl": "http://demo.tetherfi.com:55000/ManagementConsoleService/",
"modulename":"TRealtime",
"instanceid":"1",
"updatedate":"20180718000000",
"currentconfigfile": "D:\\Host\\TRealtimeData\\6d6fd493-f323-4e6a-bdf3-2de7b764fe3c.conf",
"laststate": "ConfigUpdated",
"deletelastconf": true,
"resturl": "http://localhost:50801/tmac1/",
"reststatus": "open"
}
