{
"appconfigtemplate": "D:\\Projects\\Tetherfi\\TData\\TRealtimeData\\TRealtimeData\\TRealtimeData\\template.config",
"confLoadMode": "local",
"confLoadDataFile": "E:\\SVN\\Interlink\\Products\\CentralConfig\\TConfigLoader\\TMAC_ScoreData.json",
"tmcUrl": http://demo.tetherfi.com:55000/ManagementConsoleService/,
"modulename":"TRealtimeData",
"instanceid":"1",
"updatedate":"20180718000000"
}
