*.dll
*.pdf
*.txt
*.log
/CMDataCollector/obj/
/CMDataCollector/Properties/
CMDataCollector/bin/
*.cache
SIPDataCollector/bin/
*.CopyComplete
*.pdb
SIPDataCollector/obj/
SIPDataCollector/bin/*
*.ide-shm
TRealtimeData/.vs/
TRealtimeData/TRealtimeData/bin/
TRealtimeData/TRealtimeData/obj/
TRealtimeData/TRealtimeDataInstaller/Debug/
TRealtimeData/TRealtimeDataInstaller/Release/
TRealtimeDataSync/bin/
TRealtimeClient/bin/Debug/TRealtimeClient.dll.config
