*.pdf
*.txt
*.log
/CMDataCollector/obj/
/CMDataCollector/Properties/
*.cache
*.CopyComplete
*.pdb
/SIPDataCollector/obj/
*.ide-shm
/TRealtimeData/.vs/
/TRealtimeData/TRealtimeData/obj/
/TRealtimeData/TRealtimeDataInstaller/Debug/
/TRealtimeData/TRealtimeDataInstaller/Release/

TRealtimeDataSync/obj/Release/TempPE/Web References.HB_TRealtimeData.Reference.cs.dll
TRealtimeDataSync/obj/Release/TRealTimeDataSync.dll
TRealtimeDataSync/obj/Release/TRealTimeDataSync.XmlSerializers.dll
TRealtimeDataSync/obj/Debug/TRealTimeDataSync.dll
TRealtimeDataSync/bin/Release/TRealTimeDataSync.dll.config
TRealtimeDataSync/bin/Release/TRealTimeDataSync.dll
TRealtimeDataSync/bin/Release/TRealTimeDataSync.XmlSerializers.dll
TRealtimeDataSync/bin/Release/Logger.dll
TRealtimeDataSync/bin/Release/ConfigurationProvider.dll
TRealtimeDataSync/bin/Debug/TRealTimeDataSync.dll.config
TRealtimeDataSync/bin/Debug/TRealTimeDataSync.dll
TRealtimeData/TRealtimeData/bin/Release/log4net.dll
TRealtimeData/TRealtimeData/bin/Release/TRealtimeData.exe.config
TRealtimeData/TRealtimeData/bin/Release/TRealtimeData.exe
TRealtimeData/TRealtimeData/bin/Release/TRealTimeDataSync.dll.config
TRealtimeData/TRealtimeData/bin/Release/TRealTimeDataSync.dll
TRealtimeData/TRealtimeData/bin/Release/TConfigLoader.exe
TRealtimeData/TRealtimeData/bin/Release/SIPDataCollector.dll.config
TRealtimeData/TRealtimeData/bin/Release/SIPDataCollector.dll
TRealtimeData/TRealtimeData/bin/Release/Renci.SshNet.xml
TRealtimeData/TRealtimeData/bin/Release/Renci.SshNet.dll
TRealtimeData/TRealtimeData/bin/Release/Newtonsoft.Json.dll
TRealtimeData/TRealtimeData/bin/Release/Logger.dll
TRealtimeData/TRealtimeData/bin/Release/KMSClient.dll
TRealtimeData/TRealtimeData/bin/Release/Connector.dll.config
TRealtimeData/TRealtimeData/bin/Release/Connector.dll
TRealtimeData/TRealtimeData/bin/Release/ConfigurationProvider.dll
TRealtimeData/TRealtimeData/bin/Release/CMDataCollector.dll.config
TRealtimeData/TRealtimeData/bin/Release/CMDataCollector.dll
TRealtimeData/TRealtimeData/bin/Release/AMACWeb_Proxy.exe
TRealtimeData/TRealtimeData/bin/Debug/tmc.config
TRealtimeData/TRealtimeData/bin/Debug/TmacProxyCli.exe
TRealtimeData/TRealtimeData/bin/Debug/TRealtimeData.exe.config
TRealtimeData/TRealtimeData/bin/Debug/TRealtimeData.exe
TRealtimeData/TRealtimeData/bin/Debug/TRealtimeData.InstallLog
TRealtimeData/TRealtimeData/bin/Debug/TRealTimeDataSync.dll.config
TRealtimeData/TRealtimeData/bin/Debug/TRealTimeDataSync.dll
TRealtimeData/TRealtimeData/bin/Debug/TConfigLoader.exe
TRealtimeData/TRealtimeData/bin/Debug/SIPDataCollector.dll.config
TRealtimeData/TRealtimeData/bin/Debug/SIPDataCollector.dll
TRealtimeData/TRealtimeData/bin/Debug/KMSClient.dll
TRealtimeData/TRealtimeData/bin/Debug/Email_Models.dll
TRealtimeData/TRealtimeData/bin/Debug/EmailManager_Client.dll
TRealtimeData/TRealtimeData/bin/Debug/DataModel.dll
TRealtimeData/TRealtimeData/bin/Debug/Connector.dll.config
TRealtimeData/TRealtimeData/bin/Debug/Connector.dll
TRealtimeData/TRealtimeData/bin/Debug/CMDataCollector.dll.config
TRealtimeData/TRealtimeData/bin/Debug/CMDataCollector.dll
TRealtimeClient/obj/Debug/TRealtimeClient.dll
TRealtimeClient/bin/Debug/log4net.dll
TRealtimeClient/bin/Debug/TRealtimeClient.dll.config
TRealtimeClient/bin/Debug/TRealtimeClient.dll
TRealtimeClient/bin/Debug/RestSharp.dll
TRealtimeClient/bin/Debug/Newtonsoft.Json.dll
TRealtimeClient/bin/Debug/Logger.dll
SIPDataCollector/lib/Email_Models.dll
SIPDataCollector/lib/EmailManager_Client.dll
SIPDataCollector/bin/Release/log4net.dll
SIPDataCollector/bin/Release/TRealTimeDataSync.dll.config
SIPDataCollector/bin/Release/TRealTimeDataSync.dll
SIPDataCollector/bin/Release/SIPDataCollector.dll.config
SIPDataCollector/bin/Release/SIPDataCollector.dll
SIPDataCollector/bin/Release/Newtonsoft.Json.dll
SIPDataCollector/bin/Release/Logger.dll
SIPDataCollector/bin/Release/Connector.dll.config
SIPDataCollector/bin/Release/Connector.dll
SIPDataCollector/bin/Release/ConfigurationProvider.dll
SIPDataCollector/bin/Release/AMACWeb_Proxy.exe
SIPDataCollector/bin/Debug/TmacProxyCli.exe
SIPDataCollector/bin/Debug/TRealTimeDataSync.dll.config
SIPDataCollector/bin/Debug/TRealTimeDataSync.dll
SIPDataCollector/bin/Debug/SIPDataCollector.dll.config
SIPDataCollector/bin/Debug/SIPDataCollector.dll
SIPDataCollector/bin/Debug/Newtonsoft.Json.dll
SIPDataCollector/bin/Debug/DataModel.dll
SIPDataCollector/bin/Debug/Connector.dll.config
SIPDataCollector/bin/Debug/Connector.dll
SIPDataCollector/bin/Debug/ConfigurationProvider.dll
Connector/obj/Release/TempPE/Service References.WorkQueue.Reference.cs.dll
Connector/obj/Release/TempPE/Service References.SMSAPI.Reference.cs.dll
Connector/obj/Debug/Connector.dll
Connector/bin/Debug/Connector.dll.config
Connector/bin/Debug/Connector.dll
CMDataCollector/lib/Connector.dll
CMDataCollector/bin/Release/TRealTimeDataSync.dll.config
CMDataCollector/bin/Release/TRealTimeDataSync.dll
CMDataCollector/bin/Release/SIPDataCollector.dll.config
CMDataCollector/bin/Release/SIPDataCollector.dll
CMDataCollector/bin/Release/Renci.SshNet.dll
CMDataCollector/bin/Release/Newtonsoft.Json.dll
CMDataCollector/bin/Release/Logger.dll
CMDataCollector/bin/Release/Connector.dll.config
CMDataCollector/bin/Release/Connector.dll
CMDataCollector/bin/Release/ConfigurationProvider.dll
CMDataCollector/bin/Release/CMDataCollector.dll.config
CMDataCollector/bin/Release/CMDataCollector.dll
CMDataCollector/bin/Release/AutoMapper.dll
CMDataCollector/bin/Release/AMACWeb_Proxy.exe
CMDataCollector/bin/Debug/TRealTimeDataSync.dll.config
CMDataCollector/bin/Debug/TRealTimeDataSync.dll
CMDataCollector/bin/Debug/Connector.dll.config
CMDataCollector/bin/Debug/Connector.dll
CMDataCollector/bin/Debug/CMDataCollector.dll.config
CMDataCollector/bin/Debug/CMDataCollector.dll
