*.pdf
*.txt
*.log
CMDataCollector/obj/*
CMDataCollector/Properties/*
*.cache
*.CopyComplete
*.pdb
SIPDataCollector/obj/*
*.ide-shm
TRealtimeData/.vs/*
TRealtimeData/TRealtimeData/obj/*
TRealtimeData/TRealtimeDataInstaller/Debug/*
TRealtimeData/TRealtimeDataInstaller/Release/*
TRealtimeDataSync/obj/*
TRealtimeDataSync/bin/*
TRealtimeData/TRealtimeData/bin/*
TRealtimeClient/obj/*
TRealtimeClient/bin/*
SIPDataCollector/bin/*
Connector/obj/*
Connector/bin/*
CMDataCollector/bin/*
