<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TRealTimeDataSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
</startup>
  <applicationSettings>
        <TRealTimeDataSync.Properties.Settings>
            <setting name="TRealTimeDataSync_HB_TRealtimeData_CMDataService"
                serializeAs="String">
                <value>http://10.133.146.11:55555/TRealtimeData/</value>
            </setting>
        </TRealTimeDataSync.Properties.Settings>
    </applicationSettings>
</configuration>
