<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--<section name="BCMSServiceSettings" type="BcmsConfigManager.BCMSServiceConfigSection, BcmsConfigManager" />-->
  </configSections>
  <appSettings>
    <!-- value in minutes-->
    <!--<add key="DBConn" value="Data Source=202.150.214.54,14330;Initial Catalog=SG_CFS_OCM;User ID=sa;Password=P@ssw0rd;"/>-->
    <add key="CMDbConn" value="Data Source=122.166.193.21\SQLExpress,62562;Initial Catalog=SG_CFS_OCM;User ID=sa;Password=PPP$azhayangadi#2016;"/>
      <!--total number of skills to be monitored-->
    <add key="skillsToMonitorForSIP" value="106,107,111,112,113"/>
    <add key="acceptableSL" value="20"/>
    <!-- in minutes-->
    <add key="DBRefreshTime" value="5"/>
  </appSettings>

  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://202.150.214.54:55000/AMACServer/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="commandManagerWCF.IService"
        name="DefaultTMACServer" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          --><!-- To avoid disclosing metadata information, 
          set the values below to false before deployment --><!--
          <serviceMetadata httpGetEnabled="True"/>
          --><!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->
</configuration>