<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TRealtimeRestUrls" value="http://demo.tetherfi.com:55000/TRealtimeData/rest,http://demo.tetherfi.com:55000/TRealtimeData/rest"/>
    <add key="RestCertificateProtocol" value=""/>
    <add key="RestCertificateFile" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
