<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" allowCookies="true" maxReceivedMessageSize="1073741824" maxBufferSize="1073741824" maxBufferPoolSize="1073741824" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxArrayLength="1073741824" maxStringContentLength="1073741824" />
        </binding>
        <binding name="BasicHttpBinding_IHistoricalData" />
        <binding name="BasicHttpBinding_IService" allowCookies="true" maxReceivedMessageSize="1073741824" maxBufferSize="1073741824" maxBufferPoolSize="1073741824" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxArrayLength="1073741824" maxStringContentLength="1073741824" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.133.146.67:64000/SMS_API1/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="SMSAPI.IService" name="BasicHttpBinding_IService1" />
      <endpoint address="http://10.133.146.67:64000/AMACServer10/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="commandManagerWCF.IService" name="TmacServer10" />
      <endpoint address="http://10.133.146.67:64000/THistoricalData/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHistoricalData" contract="THistoricalData.IHistoricalData" name="BasicHttpBinding_IHistoricalData" />
      <endpoint address="http://10.133.146.67:64000/WorkQueue/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="WorkQueue.IService" name="BasicHttpBinding_IService" />
    </client>    
  </system.serviceModel>
</configuration>