<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TRealTimeDataServiceSettings" type="CMDataCollector.Utilities.ConfigSection, CMDataCollector" />
    <section name="AMACWeb_Proxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- db config-->
    <add key="CMDbConn" value="Data Source=122.166.193.21\SQLExpress,62562;Initial Catalog=SG_CFS_OCM;User ID=sa;Password=PPP$azhayangadi#2016;"/>

    <!-- Log4net Configuration -->
    <add key="Log4NetConfigFile" value="D:\Tetherfi_Projects\SVN\Tetherfi_BCMS\Production_Copy\CMDataCollector\Log4Net.config"/>

    <!--CM ip address-->
    <add key="serverAddress"  value="10.133.146.203"/>

    <!--CM username-->
    <add key="userName" value="smsapi"/>

    <!--CM password-->
    <add key="password" value="smsapi01"/>

    <!--port to establish ssh connection to CM-->
    <add key="port" value="22"/>

    <!--total number of skills to be monitored-->
    <add key="skillsToMonitor" value="1,2"/>

    <!--SkillToMonitor For SIP-->
    <add key="skillsToMonitorForSIP" value="1,2"/>
    
    <add key="acceptableSL" value="20"/>
    
    <!--total number of skills to be monitored in each connection to cm-->
    <add key="skillsPerConnection" value="2"/>

    <!--max tries made if connection to CM fails-->
    <add key="MaxTriesOnConnectionFailure" value="5"/>

    <!--value= 1 => HA is enabled, value=0=> HA is disabled-->
    <add key="HAEnabled" value="0"/>

    <!--No Action,Stop,Kill-->
    <add key="ActionOnCMConFailure" value="Kill"/>

    <!--Things to be monitored...
        bcms : if bcms skills to be monitored.
        trunk : if trunk traffic to be monitored.
        system : if system data to be monitored.
    -->
    <add key="CommandsToRun" value="list"/>

    <!-- Type : CM or SIP -->
    <add key="Type" value="cm"/>

    <!--Timewait to read data from CM/SIP in milliseconds-->
    <add key="DashboardRefreshTime" value="10000"/>

    <!--Timewait to read data from historical service-->
    <add key="HistoricalReportRefreshTime" value="10000"/>
  </appSettings>
  <TRealTimeDataServiceSettings>
    <BCMSSkill>
      <add ChannelName="Voice" SkillId="1,2"/>
      <add ChannelName="Email" SkillId=""/>
      <add ChannelName="Chat"  SkillId=""/>
    </BCMSSkill>
  </TRealTimeDataServiceSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IHistoricalData" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.133.146.4:55000/AMACServer10/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="commandManagerWCF.IService"
        name="DefaultTMACServer" />
      <endpoint address="http://localhost:55000/THistoricalData/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IHistoricalData" contract="THistoricalData.IHistoricalData"
        name="BasicHttpBinding_IHistoricalData" />
    </client>
    <services>
      <service name="CMDataCollector.CMDataService">
        <endpoint address="" binding="basicHttpBinding" contract="CMDataCollector.IRealtimeDataService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/TRealtimeData/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>