<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.133.5.184:55000/WorkQueue/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="TMACWorkQ.IService"
                name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>