<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.133.146.11:55001/WorkQueue1/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="WorkQueue.IService"
                name="BasicHttpBinding_IService" />
            <endpoint address="http://localhost:55000/CM_SMS_API/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="SMSAPI.IService"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>